@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #8b9a46;
    --cor-hover: #541212;
    --cor-link: #f6f6f6;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding:  0.5% 0% 0% 8%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor-link);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

span{
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
}


.apresentacao{
    padding: 2% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo__titulo{
    font-size: 50px;
    font-family: var(--fonte-primaria);
}

.destaque_titulo{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo{
    width: 695px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.apresentacao__conteudo__descricao{
    font-size: 29px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__lista{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.apresentacao__links{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

.apresentacao__links__titulo{
    font-size: 24px;
    font-family: var(--fonte-primaria);
    font-weight: 400px;
}

.apresentacao__links__link{
    border: 2px solid var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 32px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    cursor: pointer;
    background-color: var(--cor-hover);
}

strong:hover{
    cursor:grabbing;
    color: red;
}

.rodape{
    font-weight: 400px;
    font-size: 24px;
    padding: 23px;
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}